html {
  font-size: 20px;
  background: #f0efeb;
  color: #6a6a6a;
  /* background: url(https://source.unsplash.com/6v4TMhQxVJg) bottom left;
  background-size: cover; */
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Recursive", serif;
}

.container {
  min-height: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  /* color: white; */
  font-size: 2rem;
  padding-bottom: 1rem;
}

p {
  /* color: white; */
  font-size: 1rem;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.key {
  border: 0.2rem solid #6a6a6a;
  border-radius: 0.6rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem 0.2rem;
  transition: all 0.07s ease;
  width: 4rem;
  text-align: center;
  color: #6a6a6a;
  background: rgba(0, 0, 0, 0.1);
  /* text-shadow: 0 0 0.5rem black; */
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 1.5rem;
  font-family: "Recursive", serif;
}

.sound {
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
}
