html {
  font-size: 20px;
  background: #f0efeb;
  color: #6a6a6a;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Recursive", serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* .container {
  min-height: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
} */

.timer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.timer__controls {
  display: flex;
}

.timer__controls > * {
  flex: 1;
}

.timer__controls form {
  flex: 1;
  display: flex;
}

.timer__controls input {
  flex: 1;
  border: 0;
  padding: 1rem;
  font-size: 1rem;
}

.timer__button {
  background: none;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.timer__button:hover,
.timer__button:focus {
  background: rgba(0, 0, 0, 0.2);
  outline: 0;
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display__time-left {
  font-weight: 100;
  font-size: 10rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
  margin-top: 2rem;
}
.display__end-time {
  font-size: 2rem;
  color: #6a6a6a;
}
